<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>Counter  Web  Application </display-name>

    <!--设置spring 配置文件的位置-->
    <!--classpath:config/spring/applicationContext-*.xml;  使用通配符会导致applicationContext-springmvc.xml设置两次 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:config/spring/applicationContext-dao.xml;
            classpath:config/spring/applicationContext-redis.xml;
            classpath:config/spring/applicationContext-service.xml;
            classpath:config/spring/applicationContext-transtion.xml
        </param-value>
    </context-param>
    <!--配置spring listener-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>testFilter</filter-name>
        <filter-class>com.ning.filter.TestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>testFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    


    <!--配置springmvc-->      <!-- freemarker配置 -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--<init-param>-->
            <!--<param-name>contextConfigLocation</param-name>-->
            <!--&lt;!&ndash;springmvc配置文件位置&ndash;&gt;-->
            <!--<param-value>classpath:config/spring/springmvc.xml</param-value>-->
        <!--</init-param>-->

        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:config/spring/applicationContext-springmvc.xml</param-value>
        </init-param>

        <init-param>
            <param-name>NoCache</param-name>
            <param-value>true</param-value>
        </init-param>

        <init-param>
            <param-name>detectAllHandlerMappings</param-name>
            <param-value>false</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.do</url-pattern>

    </servlet-mapping>

    <!-- 欢迎页 -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <!-- 程序出错跳转地址 -->

    <error-page>
        <error-code>403</error-code>
        <location>/error.do</location>
    </error-page>

    <error-page>
        <error-code>401</error-code>
        <location>/error.do</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/error.do</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error.do</location>
    </error-page>


    <!--解决POST乱码问题-->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>temServlet</servlet-name>
        <servlet-class>com.ning.web.TemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>temServlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>

    <!--<servlet>-->
        <!--<servlet-name>mvc-dispatcher</servlet-name>-->
        <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>mvc-dispatcher</servlet-name>-->
        <!--<url-pattern>/</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<context-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>-->
    <!--</context-param>-->


    <!-- 防止Spring内存溢出监听器 -->
    <!--<listener>-->
        <!--<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>-->
    <!--</listener>-->





</web-app>
